body {
  background: $backgroundColor;
  a{
    &:visited{
      color: $activeColor;
    }
  }
}
#artistInfoSmall{
  display: none;
}
#navbar{
  h1{
    color: $fontHeadings;
    text-align: center;
    font: {
      family: Helvetica;
    }
  }
  h3 {
    color: $fontHeadings;
    text-align: center;
    font:{
      family: Helvetica;
    }
  }
}
aside {
  float: right;
  width: 38%;
  color: $infoHoverFont;
  text-align: justify;
}
#genreDescription {
  text-align: justify;
}
.topSect {
  color: $infoHoverFont;
}
.summary{
  float: left;
  display: inline-block;
  position: static;

}
.img {
  display: block;
  float: left;
  padding-right: 2px;
}
.instructions {
  text-align: center;
}
section {
  ul{
    text-align: left;
    color: $listFont;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    font-family: Helvetica;
  }
}
#buttonInfo {
  text-align: center;
}
#search {
  text-align: center;
  padding:8px 15px;
  background: $fontHeadings;
  border:2px solid #00d6f7;
  color: #046380;
  font: {
    size: 20px;
  }
}
.bottomSect {
  color: $infoHoverFont;
  float: left;
  width: 60%;
  text-align: justify;
}
li {
  &:hover {
    color: $infoHoverFont;
  }
  &:active {
    color: $activeColor;
  }
}
#searchButton {
  text-align: center;
	-moz-box-shadow: 0px 10px 31px -6px $buttonColor1;
	-webkit-box-shadow: 0px 10px 31px -6px $buttonColor1;
	box-shadow: 0px 10px 31px -6px $buttonColor1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $secondaryButtonColor), color-stop(1, $mainButtonColor));
	background:-moz-linear-gradient(top, $secondaryButtonColor 5%, $mainButtonColor 100%);
	background:-webkit-linear-gradient(top, $secondaryButtonColor 5%, $mainButtonColor 100%);
	background:-o-linear-gradient(top, $secondaryButtonColor 5%, $mainButtonColor 100%);
	background:-ms-linear-gradient(top, $secondaryButtonColor 5%, $mainButtonColor 100%);
	background:linear-gradient(to bottom, $secondaryButtonColor 5%, $mainButtonColor 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3133', endColorstr='$mainButtonColor',GradientType=0);
	background-color:$secondaryButtonColor;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:3px solid #30668a;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	padding:22px 32px;
	text-decoration:none;
	text-shadow:-1px 1px 19px #cc76f7;
  &:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $mainButtonColor), color-stop(1, #2d3133));
    background:-moz-linear-gradient(top, $mainButtonColor 5%, $secondaryButtonColor 100%);
    background:-webkit-linear-gradient(top, $mainButtonColor 5%, $secondaryButtonColor 100%);
    background:-o-linear-gradient(top, $mainButtonColor 5%, $secondaryButtonColor 100%);
    background:-ms-linear-gradient(top, $mainButtonColor 5%, $secondaryButtonColor 100%);
    background:linear-gradient(to bottom, $mainButtonColor 5%, $secondaryButtonColor 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$mainButtonColor', endColorstr='$secondaryButtonColor',GradientType=0);
    background-color:$mainButtonColor;
  }
  &:active {
    position:relative;
    top:1px;
  }
}
